* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}

:root {
  --primary-color: #2e2e3a;
  --secondary-color: #1a1a2e;
  --font-header-footer: #ffffff;
  --background-color: rgb(0, 38, 71);
  --body-backgroud-color: #ffffff;
  --text-color: black;
  --font-family: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--body-background-color);
}

header,
footer {
  background-color: var(--secondary-color);
  color: var(--font-header-footer);
  padding: 0;
  text-align: center;
}

header {
  text-align: left;
  padding: 1rem;
}

h1,
h3 {
  padding: 0 1.5rem;
}

header a {
  text-align: left;
}

#menu {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  font-weight: 700;
  padding: 0rem 0.75rem;
  font-family: "Courier New", Courier, monospace;
}

#menu::before {
  content: "≡";
}



.navigation {
  list-style: none;
  margin: 0 auto;
  max-width: 760px;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  color: white;
  text-decoration: none;
  font-weight: 700;
  transition: 0.5s;
  font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover,
.navigation a:active {
  color: white;
  background-color: black;
}

.show li {
  display: block;
}

#menu.show::before {
  content: "X";
}

#footer_text {
  padding: 1.5rem;
}

.menu {
  margin: 1rem auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

.menu button {
  padding: 0.3rem;
  font-weight: 500;
}

.card_class {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  background-color: #eee;
  flex: 1 1 calc(25% - 20px);
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  box-sizing: border-box;
}
.card_link {
  display: flex;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5px;
  align-items: center;
}

.grid section {
  text-align: center;
}

.grid img {
  border: 1px solid #fff;
  box-shadow: 0 0 10px #333;
}

.grid section > * {
  margin: 0.1rem;
}

.grid h3 {
  font-family: "Caveat", cursive;
}

.list {
  display: flex;
  flex-direction: column;
}

.list section {
  display: flex;
  /* grid-template-columns: 2fr 1fr 1fr; */
  margin: 0;
  align-items: center;
  padding: 0.25rem;
}

.list section > * {
  margin: 0 1rem;
  padding: 0.2rem 0;
}

.list section img {
  display: none;
}

.list section h3 {
  font-size: 1rem;
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
}

section h3 {
  font-size: 1.5rem;
}

section p {
  font-weight: 600;
  font-size: smaller;
}

section a {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 0.85rem;
  color: navy;
  letter-spacing: 1.1pt;
}

.img_members {
  height: 75px;
  max-width: 100%;
}

.star-rating {
  display: inline-block;
  font-size: 24px;
  font-family: Arial, sans-serif;
}

.star-rating::before {
  content: "☆☆☆☆☆";
}

.star-rating[data-stars="1"]::before {
  content: "★☆☆☆☆";
  color: silver;
}

.star-rating[data-stars="2"]::before {
  content: "★★☆☆☆";
  color: silver;
}

.star-rating[data-stars="3"]::before {
  content: "★★★☆☆";
  color: gold;
}

.star-rating[data-stars="4"]::before {
  content: "★★★★☆";
  color: gold;
}

.star-rating[data-stars="5"]::before {
  content: "★★★★★";
  color: gold;
}





#comerce_hero {
  display: block;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
}

#info {
  padding: 5px 15px;
  margin: 0 15px;
}

#info section {
  border: 1px solid gray;
  border-radius: 15px;
  margin: 5px;
  padding: 0;
}

#info h4 {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--font-header-footer);
  margin: 0;
  padding: 5px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#info .col-1-4 {
  /* flex: 1; */
  margin: 1.5rem;
  padding: 0;
}

#weather-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather figure{
  display: flex;
  /* flex-direction: column; */
  justify-items: center;
  justify-content: center;
  align-items: center;
}
#weather-icon{
  width: 100px;
}
#forecast{
  padding: 5px 15px;
  margin: 0 15px;
text-align: center;
}

#forecast_date{
  color:var(--background-color);
  border: 1px solid #1a1a2e2d;
  border-radius: 5px;


}


/* SPOTLIGHT */
#spotlight {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  padding: 20px; 
}

/* Business Spotlights */
.business_spotlights {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  padding: 20px;
  background-color: var(--body-background-color); 
  border-top: 2px solid #ccc; 
}

.spotlight-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  text-align: center;
  flex: 1 1 calc(25% - 20px);
  min-width: 200px; 
}

.spotlight-logo {
  width: 100px;
  height: auto;
}

h3 {
  color: #333;
}

footer img {
  width: 50px;
  height: auto;
  transition: background-color 0.3s ease-in-out;
}

footer img:hover {
  background-color: rgba(255, 255, 255, 0.142); 
  border-radius: 15px; 
  height: auto;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 1rem auto;
}

footer div {
  flex: 0.5;
}

footer p {
  flex: 1;
  text-align: center;
  color: #fff;
}

.sociallinks {
  flex: 0.5;
  display: flex;
  justify-content: flex-end;
}






/*Large Screen */
@media screen and (min-width: 50em) {
  header,
  footer {
    background-color: var(--background-color);
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  #title {
    flex: 1;
  }

  main {
    max-width: 1300px;
  }

  .navigation {
    display: flex;
  }
  .navigation li {
    display: block;
    flex: 1 1 100%;
    align-items: center;
  }

  .navigation a {
    margin: 0 15px;
    text-align: center;
  }

  #menu {
    display: none;
  }

  

  .sections-container {
    display: grid;
    grid-template-columns: 3fr;
  }

  #info {
    display: flex;
    margin: 1.5rem 3rem;
    gap: 1.5rem;
    align-items: stretch;
  }
  #info > * { 
    flex: 1;
  }

  #info > section h4 {
    padding: 5px;
  }

  #info .col-2-4 {
    flex: 2;
    padding: 0;
    margin: 0;
  }

  #info .col-1-4 {
    flex: 1;
    padding: 0;
    margin: 0;
  }

  #weather-container {
    display: flex;
  }

  .weather figure {
    display: flex;
    flex: 1;
    width: 100%;
    flex-wrap: wrap;
  }

  #weather-icon {
    width: 150%;
    height: auto;
    object-fit: contain; /
  }

  #weather-box {
    display: flex;
    flex: 2;
    padding: 5px;
    flex-direction: column; 
    align-items: flex-start; 
    flex-wrap: wrap;

  }

  #forecast{
    display: flex;
    flex-direction: column;
    align-items: center ;
    text-align: left;
  }


  .business_spotlights {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: var(--body-backgroud-color);
    border-top: 2px solid #ccc; 
  }
  

  .spotlight-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    text-align: center;
  }
  
  .spotlight-logo {
    width: 100px;
    height: auto;
  }
  
  h3 {
    color: #333;
  }

  #spotlight{
  align-items: center;
  align-content: center;
  }
  


}

/*Medium Screen */
@media screen and (max-width: 26em) {

  #info {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #info section {
    border: none;
    margin: 0;
    padding: 1.5rem;
  }

  #info h4 {
    text-align: center;
    background-color: var(--body-backgroud-color);
    color: var(--font-family);
    margin: 0;
    padding: 5px;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .weather figure{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
  }

  #forecast{
    text-align: center;
  }

}



